body {
    margin: 50px 0 0 50px;
    text-align: left;
    padding: 10px;
    background-color: #1F2937;
    color: white;
    display: block;
    font-family: "Karla", sans-serif;
  
}

.green{
    color: #4ADF86;
}
#supporting-text{
    color: grey;
    text-shadow: 0 0 1px;
}

#div-generate{
    border-bottom: 1px solid #2F3E53;
    margin-top: 35px ;
    display: flex;
}

#input-el{
    width: 300px;
    height: 40px;
    padding: 9px 16px;
    font-family: "Karla", sans-serif;
    background-color: #273549;
    color: #55F991;
    border: none;
    border-radius: 6px;
    margin-right: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#btn-generate{
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 190px;
    padding: 9px 16px;
    font-family: "Karla", sans-serif;
    margin: 0px 25px 35px 0;
}

#btn-generate:hover{
    background-color: white ;
    color: #10B981;
}

#btn-clipboard{
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 190px;
    padding: 9px 16px;
    font-family: "Karla", sans-serif;
    margin: 0px 25px 35px 0;
}

#btn-clipboard:hover{
    background-color: white ;
    color: #10B981;
}

#output-div{
    margin-top: 35px ;
    border-bottom: none;
    display: flex;

    
}

#output{
    width: 300px;
    height: 40px;
    font-family: "Karla", sans-serif;
    background-color: #273549;
    color: #55F991;
    border: none;
    border-radius: 6px;
    margin-right: 25px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



